body {
    padding-top: 50px;
    background-color:#f3f3f3;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  
  .input-area {
    margin: 25px;
  }
  .task-text {
    display: flex;
    align-items: center;
    height: 40px;
  }
  .hidden {
    display: none;
  }
  .delete-icon-area {
    display: flex;
    align-items: center;
    height: 40px;
  }
  .delete-icon {
    color: red;
  }
  .complete {
    text-decoration: line-through;
  }
  .class_one h3{
    font-size: 22px;
  }
  .class_one a{
    color:red;
  }
  .class_body{
      background-color: #ececec;
  }
  .class_one{
    background-color:#fff;
  }
  .class_footer{
    margin-left: 140px;
  }
  .class_two h2{
    font-size: 100px;
    color:#e0b2b2;
    text-align: center;
  }
  .class_input{
    margin-left: 20px;
  }
  .complete_test{
    display: none;
  }
  .total_task{
    font-size: 18px;
    font-family: fantasy;
    color: #f39e04;
}
.active_div{
  margin-right: 20px;
}
.all_div{
  margin-left: 5px;
}